*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root{
    --color-principal: #02557D;
    --color-secondary: #FFB749;
    --color-input: #E5E5E5;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito', sans-serif;
}

/* Estilos Hero */

.switch-color{
    background-color: #ffff;
    display: flex;
    justify-content: space-evenly;
}

.switch-icon{
    color: var(--color-principal);
    font-size: 0.8rem;
}

.top-header{
    background-color: var(--color-principal);
    display: flex;
    justify-content: space-evenly;
}


.top-header__icon{
    font-size: 0.8rem;
    color: white;
}

.top-header__icon i{
    font-size: 1.2rem;
    padding-right: 0.8rem;
}

.top-header__icon:hover{
    cursor: pointer;
    color: #fff;
    transform: scale(1.3);
    transition: 0.5s;
}

.logo-container{
    width: 30%;
}

.logo{
    height: 4rem;
}

.nav-switch{
    background-color: var(--color-principal);
}

.nav-item{
    padding: 1rem;

}

.nav-link{
    font-size: 1.3rem;
}

.nav-link:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}

#about-us,#courses,#hero{
    scroll-margin-top: 80px;
}

.hero-mp4{
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    filter: opacity(45%) drop-shadow(0px 0px 5px #02557d);
-webkit-filter: opacity(45%) drop-shadow(0px 0px 5px #02557d);
-moz-filter: opacity(45%) drop-shadow(0px 0px 5px #02557d);
}

.hero-title{
    position: relative;
    z-index: 1;
    height: auto;
    padding-top: 120px;
}

.col-hero{
    min-height: calc(100vh - 95px);
    
}

.col-form{
    min-height: calc(100vh - 95px);
}

.col-hero p{
    color: #fff;
    font-size: 1.8rem;
}

.hr-body{
    background-color: var(--color-secondary);
    height: 2px;
    width: 30%;
}

h1{
    color: #fff;
    
}

.btn{
    background-color: var(--color-secondary);
    color: #ffff;
    border-radius: 20px;
    font-size: 1.1rem;
}

form{
    min-width: 200px;
    width: 350px;
    height: 60vh;
    border-radius: 12px;
    background-color: #fff;
}
form p{
    background-color:var(--color-principal);
    width: 100%;
    border-radius: 12px;
}

input{
    width: 80%;
    height: 2.5rem;
    border-radius: 12px;
    background-color: var(--color-input);
    border: none;
    padding-left: 1rem;
}

textarea{
    height: 5rem;
    width: 80%;
    border-radius: 12px;
    background-color: var(--color-input);
    border: none;
    padding-left: 1rem;
}

.input_{
    width: 40%;
    background-color: var(--color-input);
}

.btn_{
    width: 50%;
}

/* Estilos The most popular */

.color-text{
    color: var(--color-principal);
}

.card{
    box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.71);
-webkit-box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.71);
-moz-box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.71);
}

/* Estilos about us */

.bg-about{
    background-color: var(--color-principal);
}

/* Estilos Benefits */

.bg{
    background-image: url(/images/BACKGROUND\ BENEFITS.jpg);

}

/* Estilos Study Careers */

.card-img{
    opacity: 0.6;
}

.card:hover{
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1);
    transition: 0.5s;
}

/* Estilos Team */

.bg-team{
    background-color: #EFEFEF;
}

.img-text{
    width: 80%;
    height: 17rem;
    display: block;
    text-align: center;
    padding: 38% 5%;
    background-color: #fff;
    background-image: url(/images/IMAGE\ BACKGROUND\ CARD\ TEAM\ \ \(3\).jpg);
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 15px;
}

.img-text h3{
    font-size: 1.3rem;
}

.single-box{
    position: relative;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.img-area{
    position: absolute;
    width: 100px;
    height: 100 px;
    border: 5px solid #fff;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 0.5rem;

}

.img-area img{
    width: 100%;
}

/* Estilos Reviews */

.bg-reviews-img{
    position: absolute;
    width: 80%;
    height: 75vh;
    z-index: -100;
    filter: opacity(55%) drop-shadow(0px 0px 0px #02557d);
-webkit-filter: opacity(55%) drop-shadow(0px 0px 0px #02557d);
-moz-filter: opacity(55%) drop-shadow(0px 0px 0px #02557d);
    object-fit: cover;

}

.text-reviews{
    position: relative;
    z-index: 1;
    height: 75vh;
    width: 80%;
    justify-content: space-around;
}

.text-title{
    width: 60%;
    height: auto;
}

.rev-title{
    text-transform: uppercase;
    color: #fff;
}

.carousel-item video{
    width: 100%;
    border: none;
    justify-content: center;

}

.btnCarousel{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev, .carousel-control-next{
    border: none;
    height: 4rem;
}

/* Estilos Footer */

.footer{
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a-logo-footer img{
    width: 35%;
    padding: 2rem 0;
}

.footer-titles{
    color: var(--color-secondary);
}

.footer-hr{
    background-color: #fff;
    width: 75%;
}

.a-logo-footer img{
    width: 35%;
    padding: 2rem 0;
}

.logo-silvera img{
    width: 30%;
}
